[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
requests-mock = "*"

[dev-packages]
"flake8" = "*"
coverage = ">=5.5"
coveralls = ">=2.2.0"
bumpversion = "*"
setuptools = "*"
twine = "*"
pytest = ">=6.2.1"
pytest-cov = ">=2.11.1"

[scripts]
# these commands can be invoked with `pipenv run <script_name>`
tests = "pytest --cov"
coveralls = "coveralls --service=github.com"
